$roboto: 'Roboto', Arial, Helvetica, sans-serif;

// colors
$primary-color: #ef3124;
$black: #0e0e0e;
$light-black: #202022;
$gray: #e9e9eb;
$dark-gray: #838383;
$medium-gray: #dcdde1;
$light-gray: #f3f4f6;
$white: #fff;

$sucess-color: #2fc16e;
$critical-color: #ef3124;
$warning-color: #f6bf65;

$button-accent: #202022;
$button-accent-hover: #29292c;
$button-accent-pressed: #2f2f32;
$button-accent-disabled: #f3f4f6;

$button-secondary: #e2e3e7;
$button-secondary-hover: #dcdde1;
$button-secondary-pressed: #d2d3d9;
$button-secondary-disabled: #f2f3f5;

$button-tertiary: $white;
$button-tertiary-hover: #f2f3f5;
$button-tertiary-pressed: #ededed;
$button-tertiary-disabled: $white;

$status-green-100: #4ca169;
$status-green-10: #cff1e9;
$status-red-100: #c73322;
$status-red-10: #f9eae8;
$status-orange-100: #d06f2a;
$status-orange-10: #faf0e9;
$status-blue-100: #2f7cf6;
$status-blue-10: #eaf1fe;
$status-gray-100: #6f7985;
$status-gray-10: #f0f1f3;
$status-emerald-100: #468f87;
$status-emerald-10: #ecf4f3;
$status-purple-100: #6040b0;
$status-purple-10: #efebf7;
